---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = "About";

const tagline = "Everyone deserves to feel good";
const unemployed = false;

const whoAmI = {
    firstName: "Ben",
    occupation: unemployed? "unemployed":"software",
};

const taglineColor = "brown";
const taglineFontWeight = "lighter";
const taglineFontStyle = "italic";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Feel Good Lmtd</title>
		<style define:vars={{taglineColor, taglineFontWeight, taglineFontStyle}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
			.tagline {
				color: var(--taglineColor);
				font-weight: var(--taglineFontWeight);
				font-style: var(--taglineFontStyle);
			}
    </style>
	</head>
	<body>
        <Navigation/>
		<h1>{pageTitle}</h1>
        <p class="tagline">{tagline}</p>
        <p>This is {whoAmI.firstName}, the {whoAmI.occupation} guy</p>
        <Footer/>
	</body>
</html>
